body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

table{
    margin-top: 10vh;
}

table,th,td{
    text-align: left;
    border: 1px solid black !important;
}

table{
    border: 3px solid black !important;
}
